#progress-bar {
    /* Remain on top */
    position: fixed;
    top: 0;
 
    /* Thickness & Color */
    height: 3px;
    background:red;
    width: 0%;
 
    /* How fast progress happens */
    transition: width 1.2s;
 
    /* Display on top of everything */
    z-index:9999;
 }

 .pageEntry {animation:fade-in .7s;}
@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}
