#progress-bar {
    /* The bar is rendered at the top of the page, overlaid on other components */
    position: fixed;
    top: 0;
    z-index:9999;

    height: 3px;
    background:red;
    width: 0%;
 
    /* width changes from 0% to n% in this time interval */
    transition: width 1.2s;
 }

 /* Fade in animation for new pages */
 .pageEntry {animation:fade-in .7s;}
@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}
