@tailwind base;
@tailwind components;
@tailwind utilities;

.dbg {
    @apply border-solid border-2 border-red-600;
}

 /* Fade in animation for new pages */
.pageEntry {animation:fade-in 1s;}

@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}
